@model CardVM
@using TeamProject.Models

@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*custom font*/

    /*basic reset*/
    * {
        margin: 0;
        padding: 0;
    }

    html {
        height: 100%;
        /*Image only BG fallback*/
        /*background = gradient + image pattern combo*/
        background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
    }

    body {
        font-family: montserrat, arial, verdana;
    }
    /*form styles*/
    #msform {
        width: 400px;
        margin: 50px auto;
        text-align: center;
        position: relative;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 3px;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 80%;
            margin: 0 10%;
            /*stacking fieldsets above each other*/
            position: relative;
        }
            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }
        /*inputs*/
        #msform input, #msform textarea {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: #2C3E50;
            font-size: 13px;
        }
        /*buttons*/
        #msform .action-button {
            width: 100px;
            background: #27AE60;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

            #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
            }
    /*headings*/
    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
    }

    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }
    /*progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
    }

        #progressbar li {
            list-style-type: none;
            color: white;
            text-transform: uppercase;
            font-size: 9px;
            width: 33.33%;
            float: left;
            position: relative;
        }

            #progressbar li:before {
                content: counter(step);
                counter-increment: step;
                width: 20px;
                line-height: 20px;
                display: block;
                font-size: 10px;
                color: #333;
                background: white;
                border-radius: 3px;
                margin: 0 auto 5px auto;
            }
            /*progressbar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: white;
                position: absolute;
                left: -50%;
                top: 9px;
                z-index: -1; /*put it behind the numbers*/
            }

            #progressbar li:first-child:after {
                /*connector not needed before the first step*/
                content: none;
            }
            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/
            #progressbar li.active:before, #progressbar li.active:after {
                background: #27AE60;
                color: white;
            }

    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 20px;
    }

    .text-danger {
        color: #dc3545 !important;
        font-size: 10px;
    }

    .sr-only {
        color: #dc3545;
        font-size: 11px;
    }
</style>


<div class="single-hero-post bg-overlay">
    <!-- Post Image -->
    <div class="slide-img bg-img" style="background-image: url(../../Content/img/bg-img/4.jpg);"></div>
    <div class="container">
        <div class="row"> </div>
        <div class="row h-100 align-items-center" style="margin-top:100px;justify-content:center">
            <div class="row justify-content-between">
                <form id="msform" method="post" action="@Url.Action("EditCard","User")">
                    @*<ul>
                            <li class="fs-title">Edit Card</li>
                        </ul>*@
                    <h2 class="fs-title">Edit Card</h2>
                    <br />
                    <fieldset>

                        @Html.ValidationMessage("CardExisting", "", new { @class = "text-danger" })
                        @Html.TextBoxFor(i => i.CardNumber, new { @class = "form-control", placeholder = "Card Number" })
                        @Html.ValidationMessageFor(i => i.CardNumber, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(i => i.Month, new { @class = "form-control", placeholder = "Month" })
                        @Html.ValidationMessageFor(i => i.Month, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(i => i.Year, new { @class = "form-control", placeholder = "Year" })
                        @Html.ValidationMessageFor(i => i.Year, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(i => i.SecurityCode, new { @class = "form-control", placeholder = "Security Code" })
                        @Html.ValidationMessageFor(i => i.SecurityCode, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(i => i.NameOnCard, new { @class = "form-control", placeholder = "Name On Card" })
                        @Html.ValidationMessageFor(i => i.NameOnCard, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(i => i.Country, new { @class = "form-control", placeholder = "Country" })
                        @Html.ValidationMessageFor(i => i.Country, "", new { @class = "text-danger" })

                        <input type="submit" name="submit" class="submit action-button" value="Submit" />
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Post Image -->
